.Header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.Header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121823;
  padding: 10px 45px;
}

.Header .Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .Home {
  font-size: 23px;
  margin-top: 10px;
}

.Header ul li {
  margin: 0 15px;
  color: #dfe3eb;
  font-size: 20px;
  transition: all 0.3s linear;
}

.Header ul li:hover {
  color: rgb(184, 113, 250);
}

.Header ul div {
  display: flex;
  align-items: center;
  position: relative;
}

.Header .Input {
  width: 100%;
  background-color: #404b53;
  padding: 12px 50px;
  display: flex;
  justify-content: flex-end;
}

.Open {
  animation: moveLeft 500ms ease forwards;
}

@media (max-width: 768px) {
  .Close {
    animation: moveRight 500ms ease forwards;
  }

  .Header ul div {
    transform: translateX(1000px);
    flex-direction: column;
    position: fixed;
    right: 0;
    background-color: #121823;
    top: 0;
    height: 100vh;
    width: 60vw;
  }

  .Header ul div li {
    padding: 20px;
  }

  .Header .Input {
    justify-content: center;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(1000px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}
