.Hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 128px);
  opacity: 0.9;
}

.Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.Content h1,
.Content h4 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 35px;
}

.Content h1 {
  font-size: 45px;
}

.Content strong {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

@media (max-width: 450px) {
  .Content h1,
  .Content h4 {
    font-size: 30px;
  }
}
