.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Button span {
  display: grid;
  place-items: center;
  margin: 0 !important;
}

.Button.Auth {
  background: #d68a50;
  color: white;
  font-size: 19px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 150px;
}

.Button.Auth:hover {
  color: #d68a50;
  background-color: white;
}

.Button.Hero {
  border-radius: 5px;
  background-color: #fff;
  color: #454752;
  padding: 10px 20px;
  font-size: 18px;
  opacity: 0.7;
  margin-top: 20px;
  transition: all 0.2s ease-in;
}

.Button.Hero:hover {
  transform: scale(1.1);
  opacity: 1;
}

.Button.PostButton,
.Button.Edit,
.Button.Save,
.Button.Comment,
.Button.Update,
.Button.Delete {
  background-color: #0e6dfc;
  font-size: 18px;
  padding: 5px 18px;
  border-radius: 5px;
  margin-right: 8px;
  color: #fff;
  width: 80px;
}

.Button.Edit,
.Button.Save,
.Button.Comment,
.Button.Delete {
  background-color: #d68a50;
}

.Button.PostButton-Cancel {
  background-color: #6c757d;
  color: #fff;
  font-size: 18px;
  padding: 5px 18px;
  border-radius: 5px;
}

.Button.Profile {
  background-color: #d68a50;
  font-size: 18px;
  padding: 5px 18px;
  border-radius: 5px;
  color: #fff;
}

.Button.Loader span {
  animation: rotate 0.7s ease-in;
  animation-iteration-count: infinite;
  background-color: transparent;
  padding: 1px;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
