.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Button span {
  display: grid;
  place-items: center;
  margin: 0 !important;
}

.Button.Auth {
  background: #d68a50;
  color: white;
  font-size: 19px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 150px;
}

.Button.Auth:hover {
  color: #d68a50;
  background-color: white;
}

.Button.Loader span {
  animation: rotate 0.7s ease-in;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
