.Container {
  display: flex;
}

.Container.Auth {
  width: 100%;
  align-self: stretch !important;
}

.Container.Search {
  width: 100%;
  border-radius: 25px;
  background-color: white;
  padding: 8px 15px;
  padding-left: 20px;
}

.Input.Auth {
  font-size: 18px;
  border-radius: 25px;
  width: 100%;
  padding: 8px 15px;
  background-color: #fafafa;
  color: #9d8ba4;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.Input.Auth::placeholder {
  text-align: center;
  color: #9d8ba4;
  border: none;
}

.Input.Search {
  width: 100%;
  background-color: white;
  font-size: 16px;
  border-radius: 25px;
}

.Input.Search::placeholder {
  color: #dddfe2;
  font-size: 16px;
}
