.Container {
  display: flex;
}

.MainContainer.Auth {
  width: 100%;
}

.Container.Auth {
  width: 100%;
}

.Container.Search {
  width: 100%;
  border-radius: 25px;
  background-color: white;
  padding: 8px 15px;
  padding-left: 20px;
}

.Input.Auth {
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  padding: 8px 15px;
  background-color: #eeeeee;
  color: rgb(102, 52, 52);
  margin-bottom: 20px;
  border: 1px solid #eee;
  width: 100%;
}

.Input.Auth::placeholder {
  color: #959aa9;
  border: none;
}

.Input.Search {
  width: 100%;
  background-color: white;
  font-size: 16px;
  border-radius: 25px;
  padding: 0 5px;
}

.Input.Search::placeholder {
  color: #dddfe2;
  font-size: 16px;
}

.MainContainer.PostInput,
.MainContainer.Edit {
  margin-bottom: 15px;
}

.MainContainer.Edit {
  margin-right: 20px;
  width: 100%;
}

.Input.PostInput,
.Input.Edit {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #e0e4e8;
  border-radius: 5px;
  font-size: 18px;
  resize: none;
  margin: 5px 0;
}

.Input.Edit {
  color: rgb(102, 52, 52);
}

.Error.PostInput,
.Error.Edit {
  font-size: 16px;
  color: rgb(189, 33, 33);
}

.Label.PostInput,
.Label.Edit {
  font-size: 18px;
}

.Label.Edit {
  color: rgb(102, 52, 52);
}
