.Action {
  width: 70%;
  margin: auto;
  padding: 25px 0;
  height: 100%;
}

.Action h5 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Action .Buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
