.PostsPage {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.PostsContainer {
  flex: 3;
}

.PostsHeader {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 18px;
  border-bottom: 4px solid #e9e9eb;
  padding-bottom: 8px;
}

.Posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  flex: 3;
}

.Categories {
  flex: 1;
  box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.35);
  padding: 10px;
}

.Categories h5 {
  color: #fff;
  background-color: #1f252e;
  padding: 8px 5px;
  border-radius: 5px;
  font-size: 25px;
}

.Categories li {
  font-size: 18px;
  padding: 13px 10px;
  border-bottom: 1px solid #1f252e;
  transition: all 0.4s ease;
  cursor: pointer;
}

.Categories li:last-child {
  border-bottom: none;
}

.Categories li:hover {
  background-color: #f9fafb;
}

@media (max-width: 700px) {
  .PostsPage {
    flex-direction: column-reverse;
  }

  .Categories {
    position: relative;
    top: 0;
  }
}
