.ProfilePage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  padding: 25px;
}

.Group {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.Group .Action {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
}

.Group .Action span {
  font-size: 16px;
  color: rgb(102, 52, 52);
  cursor: pointer;
  padding: 15px;
  transition: all 0.4s linear;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
}

.Group .Action span:hover {
  background-color: rgb(102, 52, 52);
  color: #fff;
}

.Group .Action span:last-child {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 800px) {
  .ProfilePage {
    grid-template-columns: 1fr;
  }

  .Group {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .Action {
    margin-top: 0 !important;
    margin-left: 20px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .Group {
    flex-direction: column;
  }

  .Action {
    margin-left: 0;
    margin-top: 20px !important;
  }
}
